@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family:'Roboto', sans-serif;
    box-sizing: border-box;
}

.vertical_line{
    height: 80px;
}
nav{
    position: sticky;
    top: 0px;
}
.nav-search{
    width: 40%;
    height: 40px;
    border-radius: 10px;
    background-color: #f8f9f9;
    padding-left: 15px;
    border: 1px solid #eeeeee;
}
.nav-search>input{
    border: none;
    width: 85%;
    height: 100%;
    background-color: transparent;
    margin-left: 5px;
}
.my-cart{
    background-color: rgba(12, 131, 31, 1);
    color: white;
    border: none;
    border-radius: 10px;

}
.my-cart>i{
    margin-right: 5px;
}
.hero-section>div>img{
    width: 92vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-section{
    width: 90vw;
    margin: auto;
}
.scrollable-div{
    white-space: nowrap;
    overflow: scroll;
}

.categories-section-1{
    width: 94vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.categories-section-2{
    width: 90vw;
    margin: auto;
    margin-top: 30px;
}
.section-heading{
    font-size: 40;
    font-weight: bold;
}

.my-card{
    width: 150px;
    padding: 10px;
    border: 1px solid #e8e9e9;
    border-radius: 5px;
    display: inline-block;
}
.my-card>img{
    width: 100%;
}

.product-title{
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.product-weight{
    margin-top: 0px;
    color: #666666;
    font-size: 14px;
}
.price{
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 18px;
    margin: 0px;
}
.add-btn{
    cursor: pointer;
    width: 66px;
    border: 1px solid rgb(49, 134, 22);
    height: 31px;
    color: rgb(49, 134, 22);
    font-weight: 600;
    font-size: 13px;
    background-color: rgb(247, 255, 249);
    border-radius: 10px;
}


footer>div{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heart{
    color: red;
    border: none;
    padding: 5px;
}
@media screen and (max-width: 768px) {
    #my_nav{
        flex-direction: column;
        padding: 10px;
    }
    #vertical_line{
        display: none;
    }
    #search_div{
        width: 80%;
    }
    #search_div>input{
        width: 80;
    }
    
}